#logo {
    position: absolute;
    justify-content: center;
    left: 43%;
    margin-left: -70px;
    top: 30%;
    margin-top: -30px;
}

.search {
    width: 500px;
    height: 40px;
    position: absolute;
    justify-content: center;
    left: 32%;
    margin-left: -53px;
    top: 50%;
    margin-top: -30px;
}

#navbar {
    padding: 0;
    margin: 15px;
    margin-top: 25px;
    font-size: 12px
}

#navbar a:link {
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 5px;
}

#navbar a:hover {
    text-decoration: underline;
}

.apps img {
    width: 25px;
}

.rightside {
    display: inline-block;
}


.signin {
    background-color: #4285f4;
    color: #fff;
    height: 30px;
    width: 70px;
    font-size: 13px;
    border: 2px solid #4285f4
}

footer {
    position: fixed;
    bottom: 0;
    background-color: lightgrey;
}
